<!DOCTYPE html>
<html>
<head>
  <title>Toby</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<% if logged_in? %>
    <header><%= link_to "TOBY",user_path(current_user) %></header>
    
    <%= link_to 'Log out', '/logout' %>
    <% if can? :create, Post %> 
    <%= link_to 'New Post', new_user_post_url(current_user) %>
    <% end %>
    <% else %>
    <header><%= link_to "TOBY",users_index_path %></header>
    <%= link_to 'Log in', '/auth/facebook' %>
    <% end %>
</nav>
<main>
<%= yield %>
</main>
</body>
</html>
